*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}
.order-cards{
    margin: 10px;
    border-radius: 2px;
    border: 2px solid black;
    padding: 5px;
    height: 50%;
    width: 50%;
}
li{
    list-style-type: none;
}
.restraunt-name{
    text-align: center;
}
.order-details{
    border: 2px solid black;
    height: 50%;
    width: 100%;
    padding-left: 15px;
    padding-bottom: 10px;

}
.order-time{
    float: right;
    font-size: medium;
    margin: 4px 10px;
}
.user-details{
    padding: 10px;
}
.order-done{
    float: right;
    margin: 0px 10px ;
    font-size: 120%;
    padding: 5px;
}