* {
  box-sizing: border-box;
}
.outer {
  position: fixed;
  background-image: url(https://cdn.discordapp.com/attachments/947184208491733032/1149393431328735323/Untitled_design_5.png);
  height: 100%;
  width: 100%;
  padding: 100px 200px;
}
.inner{
  width: 100%;
  height: 100%;
  background-color:white;
}

.frame{
  border: solid 5px white;
  transition: border-width 0.6s linear;
  height: 100%;
  position: left;
  width: 40%;
  background-image: url(https://cdn.discordapp.com/attachments/947184208491733032/1149393455030751232/Untitled_design_6.png);
}
.frame:hover { border-width: 10px; }

.details{
  padding: 80px;
  padding-right: 2px;
}
.padding{
  padding: 30px;
  padding-right: 2px;
}
.edit-label{
  padding: 10px;
  padding-right: 100px;
  font-size:large;
}
.edit_label{
  padding: 10px;
  padding-right: 170px;
  font-size:large;
}
.edit-input{
  font-size: x-large;
}
.up{
  width: 100px;
  height: 100px;
  padding: 0;
  border: 0;
  background-image: url(https://cdn.discordapp.com/attachments/1143205844058656780/1149699704901345280/key_1.png);
}
.button{
  padding: 50px;
  margin: auto;
}
.tweek-button{
  width: 50%;
  padding: 5px;
  font-size: xx-large;
}

