@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

.container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 80px 20px 40px;
    grid-gap: 10px;
    margin: 20px auto;
    max-width: 90%;

}

.branch-container {
    width: 30vh;
    border-radius: 10px;
}

.details-container {
    width: 145vh;
    border-radius: 10px;
}

.b {
    padding-bottom: 15px;
}

.branch {
    padding: 25px;
    justify-content: center;
    align-items: center;
}

.branch_sub {
    list-style: none;
    text-decoration: none;
    color: black;
}

.branch_sub li {
    padding: 15px 10px
}

.branch_sub li:hover {
    background-color: #1e90ff;
    border-radius: 2rem;
}


h1 {
    padding: 10px;
}

.desc {
    padding-left: 15px;
    font-size: larger;
    padding-right: 10px;
}


.buttonIn {
    width: 300px;
    position: relative;
}

.seats-inbox {
    padding: 0px;
    width: 60%;
    outline: none;
    height: 30px;
    border-radius: 5px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.seat-button {
    border-radius: 5px;
    margin-top: 30px;
    padding: 5px;
    border: none;
    height: 40px;
    cursor: pointer;
    color: white;
    background-color: #1e90ff;
}


.want {
    font-size: x-large;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bold {
    font-size: large;
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-center {
    font-size: large;
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.loc {
    width: 90%;
    margin: 0px 20px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.available {
    padding-top: 10px;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.tablesetting {
    height: 77vh;
    width: 100%;
    cursor: pointer;
}


.combobox {
    width: 60%;
    font-size: large;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.calender {
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
}



/*POPUP*/

.popup-open {
    display: inline-block;
    background-color: blue;
    color: white;
    font-size: medium;
    text-decoration: none;
    padding: 15px;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80%;
}

.popup-open:hover {
    background-color: #1e90ff;
}

.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 155%;
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.3);

}

.popup_booking {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: white;
    width: 500px;
    padding: 10px 30px;
    border-radius: 10px;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.popup-close {
    position: absolute;
    top: 0;
    right: 15px;
    color: #fe0606;
    text-decoration: none;
    font-size: 30px;
}

.active-link {
    color: blue;
}

.order-booking {
    width: fit-content;
    padding: 10px 10px;
}

.flex {
    display: flex;
}

.chair-left {
    width: 15px;
    height: 15px;
    background-color: #A1A1A8;
    margin: 12px 2px;;
    border-radius: 0px 8px 8px 0px;
}

.chair-right {
    width: 15px;
    height: 15px;
    background-color: #A1A1A8;
    margin-top: 12px;
    margin-left: 2px;
    border-radius: 8px 0px 0px 8px;
}

.chair-top {
    width: 15px;
    height: 15px;
    background-color: #A1A1A8;
    margin: 2px 5px;
    border-radius: 0px 0px 8px 8px;
}
.top-flex{
    display: flex;
    margin-left: 22px;
}
.bottom-flex{
    display: flex;
    margin-left: 23px;
}

.chair-bottom {
    width: 15px;
    height: 15px;
    background-color: #A1A1A8;
    margin: 2px 5px;
    border-radius: 8px 8px 0px 0px;
}

.table-eight {
    width: 80px;
    height: 40px;
    background-color: #B4B4B9;
    border-radius: 5px;
    box-shadow: 1px 1px 20px rgba(8, 7, 16, 0.6);
}

.table-six {
    width: 58px;
    height: 40px;
    background-color: #B4B4B9;
    border-radius: 5px;
    box-shadow: 1px 1px 20px rgba(8, 7, 16, 0.6);
}

.table-four {
    width: 33px;
    height: 40px;
    background-color: #B4B4B9;
    border-radius: 5px;
    box-shadow: 1px 1px 20px rgba(8, 7, 16, 0.6);
}

.table-two {
    width: 25px;
    height: 25px;
    margin-left: 23px;
    margin-right: 21px;
    background-color: #B4B4B9;
    border-radius: 5px;
    box-shadow: 1px 1px 20px rgba(8, 7, 16, 0.6);
}


.order-booking:hover {
    transform: scale(1.02);
}

.hotel-design {
    display: grid;
    height: 600px;
    place-content: center;
    perspective: 4000px;
    margin-bottom: 20px;
}

.face {
    height: 600px;
    width: 1000px;
}

.left {
    position: relative;
    width: 600px;
    left: -600px;
    top: 1200px;
    transform-origin: right;
    transform: rotateY(-90deg);
    background-color: #6699CC;

}

.right {
    position: relative;
    width: 600px;
    left: 1000px;
    top: -1200px;
    transform-origin: left;
    transform: rotateY(90deg);
    background-color: #6699CC;
}

.back-face {
    background-color:lavender;

}

.top {
    transform-origin: bottom;
    transform: rotateX(90deg);
    background-color: #5072A7;
}

.bottom {
    transform-origin: top;
    transform: rotateX(-90deg);
    background-color: #5072A7;
}


.seating{
    width: 850px;
    height: 500px;
    margin: 50px 75px;
    border: 2px solid black;
}

.eight-one{
    display: flex;
    flex-direction: row;
}