* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;

}

.nav-hotel {
    display: flex;
    width: 100%;
    margin-top: auto;
    padding: 0px 15px;
    box-shadow: 0px 0px 20px black;
    align-items: center;
    justify-content: center;
    z-index: 999;

}

.hotel {
    list-style: none;
    display: inline-block;
    padding: 5px 20px;

}

.hotel .tag {
    display: block;
    padding: 20px 10px;
    font-size: 16px;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}
.hotel .tag:hover {
    color: white;
    background:blue;
    ;
}


#Aslamchicken {
    height: 80vh;
    background-color:aquamarine;

}

#Bukhara {
    width: 100%;
    height: 80vh;
    background-color:aqua;
}

#Gulati {
    height: 80vh;
    background-color:aliceblue;
}

#Karim {
    height: 80vh;
    background-color:antiquewhite;
}

#Rajindedadhaba {
    height: 80vh;
    background-color:bisque;
}

#Sagarratna {
    height: 80vh;
    background-color:black;
}

#Sandoz {
    height: 80vh;
    background-color:blueviolet;
}

#Varq {
    height: 80vh;
    background-color:blue;
}