.items{
    margin: 2% 10%;
    padding: 40px 40px;
    border: 2px solid #219ebc;
    border-style: dashed;
    border-radius: 5px;
    box-shadow: 0 0 5px #219ebc;
}

.font{
    font-size: large;
}

.cart{
    font-size: 3rem;
    text-align: center;
    padding-bottom: 50px;
}
.book_lable{
    padding: 10px;
}

.book_button{
    margin-top: 40px;
    margin-left: 20px;
    width: 20%;
    background-color: #219ebc;
    color: #000000;
    padding: 15px;
    font-size: l;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 5px rgba(8,7,16,0.6);
  }
  
.book_button:hover{
    background-color: #8ecae6;
}