@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(2,auto);
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    grid-gap: 10px;
    margin: 20px auto;
    max-width: 90%;
    
}

.branch-container {
    width: 30vh;
    border-radius: 10px;
    box-shadow: -10px 0px 40px rgba(8, 7, 16, 0.6);
}
.details-container {
    width: 145vh;
    border-radius: 10px;
    box-shadow: 10px 0px 40px rgba(8, 7, 16, 0.6);
}
.branch{
    padding: 25px;
}
li{
    list-style: none;
    padding: 15px;
}
li:hover{
    border-radius: 2rem;
    background-color: blue;
}
h1{
    padding: 10px;
}
.desc{
    padding-left:15px;
    font-size: larger;
    padding-right: 10px;
}
.loc{
    margin-left: 15px;
    font-size: 17px;
}
.tablesetting{
    height: 77vh;
    width: 100%;
    cursor: pointer;
}
.tablesetting-bukhara{
    height: 75vh;
    width: 100%;
    cursor: pointer;
}
